body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
 
    /*  TODO */

    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right {
    /*  TODO */
    display: flex;
    flex: 0 1 600px;
}
.nav-center {
    /*  TODO */
    display: flex;
    flex: 0 1 600px;
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    flex-wrap: wrap; 
    width: 93%;
    margin: 20px auto;
    gap: 20px; 
    justify-content: space-evenly;
}
.video {

   /*  TODO */
    display: flex;
    flex-direction: column; 
    width: calc(25% - 15px); 
    min-width: 250px;
 
}
.video-thumbnail img {
   /*  TODO */
    width: 100%;
    height: auto;
    object-fit: cover;
}
.video-text {
  /*  TODO */
    display: flex;
    margin-top: 8px;
    gap: 12px;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}